*.dart linguist-detectable=true
*.cpp linguist-detectable=false
*.h linguist-detectable=false
*.c linguist-detectable=false
*.m linguist-detectable=false
android/** linguist-vendored
ios/** linguist-vendored
